html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars from appearing */
}

.image-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.image-container img {
  position: absolute;
  bottom: -5%; /* Align the image to the bottom of the container */
  right: 0; /* Align the image to the right of the container */
  height: 135%; /* Increase the height so that the bottom 80% is always in view */
  width: auto; /* Maintain the width to preserve aspect ratio */
  object-fit: contain; /* Ensures the image is contained within the element bounds */
  object-position: bottom; /* Align the image to the bottom */
}

.image-title {
  position: absolute;
  left: 30%; /* Center the title in the middle of the left half of the image */
  top: 35%;
  transform: translate(-50%, -50%); /* Adjust the exact center position */
  color: white; /* Set the color of the title */
  font-size: 2.5em; /* Set the size of the title */
  z-index: 10; /* Make sure the title is above the images */
  font-family: Arial, Helvetica, sans-serif;
}

.clickable-box {
  position: absolute;
  right: 0; /* Place on the right side */
  width: 45%; /* Width of the clickable area */
  background: rgba(0, 0, 0, 0); /* Invisible background */
  cursor: pointer; /* Change cursor to indicate this area is clickable */
}

/* Position the boxes on top of each other */
.clickable-box:nth-of-type(1) {
  top: 0;
  height: 44%; /* Each box will take a third of the height */
}

.clickable-box:nth-of-type(2) {
  top: 43%;
  height: 25%; /* Each box will take a third of the height */
}

.clickable-box:nth-of-type(3) {
  top: 70%;
  height: 40%; /* Each box will take a third of the height */
}

@media (max-width: 1000px) {
  .image-container img {
    bottom: -5%;
    right: 0%;
    height: 130%;
    width: auto; /* Maintain the width to preserve aspect ratio */
    object-fit: contain; /* Ensures the image is contained within the element bounds */
    object-position: bottom; /* Align the image to the bottom */
  }

  .clickable-box {
    right: 0; /* Place on the right side */
    width: 90%; /* Width of the clickable area */
  }

  .clickable-box:nth-of-type(3) {
    top: 75%;
    height: 30%;
  }

  .clickable-box:nth-of-type(2) {
    top: 52%;
    height: 20%;
  }
  .clickable-box:nth-of-type(1) {
    top: 30%;
    height: 20%;
  }

  .image-title {
    left: 30%;
    top: 30%;
    font-size: 2em; /* Set the size of the title */
  }

  .clickable-box {
    position: absolute;
    right: 0; /* Place on the right side */
    width: 45%; /* Width of the clickable area */
    background: rgba(0, 0, 0, 0); /* Invisible background */
    cursor: pointer; /* Change cursor to indicate this area is clickable */
  }
}

@media (max-width: 600px), (max-height: 700px) {
  .image-container img {
    bottom: -5%;
    right: -40%;
    height: 115%;
    width: auto; /* Maintain the width to preserve aspect ratio */
    object-fit: cover; /* Ensures the image is contained within the element bounds */
    object-position: bottom; /* Align the image to the bottom */
  }

  .clickable-box {
    right: 0; /* Place on the right side */
    width: 90%; /* Width of the clickable area */
  }

  .clickable-box:nth-of-type(3) {
    top: 80%;
    height: 40%;
  }

  .clickable-box:nth-of-type(2) {
    top: 60%;
    height: 20%;
  }
  .clickable-box:nth-of-type(1) {
    top: 40%;
    height: 20%;
  }

  .image-title {
    left: 40%;
    top: 25%;
  }
}

@media (max-width: 600px), (max-height: 950px) {
  .image-container img {
    right: -50%;
    height: 110%;
    width: auto; /* Maintain the width to preserve aspect ratio */
    object-fit: cover; /* Ensures the image is contained within the element bounds */
    object-position: bottom; /* Align the image to the bottom */
  }
}
